@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

body {
    background: #f0f4f8;
    min-height: 100vh;
    padding: 40px 20px;
    direction: rtl;
}

button {
    border: 0;
    background: none;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

input[type="checkbox"] {
    outline: none;
}

.hidden {
    display: none !important;
}

/* Main Container */
#todoapp {
    background: white;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.07), 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#todoapp:before {
    display: none;
}

#todoapp h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    color: #e91e63;
    padding: 32px 20px 24px;
    margin: 0;
    letter-spacing: -1px;
}

#todoapp input::-webkit-input-placeholder {
    font-style: italic;
    color: #bbb;
}

#todoapp input::-moz-placeholder {
    font-style: italic;
    color: #bbb;
}

/* Header */
#header {
    padding-top: 0;
}

#header:before {
    display: none;
}

/* Input */
#new-todo {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 20px;
    font-family: inherit;
    line-height: 1.4em;
    padding: 20px 20px 20px 70px;
    border: none;
    background: #fff;
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
    color: #4d4d4d;
    box-sizing: border-box;
}

#new-todo:focus {
    box-shadow: inset 0 -2px 1px rgba(233, 30, 99, 0.3);
}

.edit {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 20px;
    font-family: inherit;
    line-height: 1.4em;
    padding: 12px 16px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: inherit;
}

/* Main */
#main {
    position: relative;
    z-index: 2;
    border-top: 1px solid #e6e6e6;
}

/* Toggle All */
label[for='toggle-all'] {
    display: none;
}

#toggle-all {
    opacity: 0;
    position: absolute;
    top: -55px;
    left: -10px;
    width: 60px;
    height: 34px;
    text-align: center;
    border: none;
}

#toggle-all + label {
    width: 45px;
    height: 45px;
    font-size: 0;
    position: absolute;
    top: -52px;
    right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
}

#toggle-all + label:before {
    content: '❯';
    font-size: 22px;
    color: #e6e6e6;
    padding: 10px 27px;
}

#toggle-all:checked + label:before {
    color: #737373;
}

/* Todo List */
#todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

#todo-list li {
    position: relative;
    font-size: 22px;
    border-bottom: 1px solid #ededed;
    transition: all 0.2s ease;
}

#todo-list li:hover {
    background: #fafafa;
}

#todo-list li:last-child {
    border-bottom: none;
}

#todo-list li.editing {
    border-bottom: none;
    padding: 0;
}

#todo-list li.editing .edit {
    display: block;
    width: calc(100% - 43px);
    padding: 12px 16px;
    margin: 0 0 0 43px;
}

#todo-list li.editing .view {
    display: none;
}

/* Checkbox */
#todo-list li .toggle {
    text-align: center;
    width: 40px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;
}

#todo-list li .toggle + label {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center right;
}

#todo-list li .toggle:checked + label {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23e91e63%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%23e91e63%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

#todo-list li label {
    word-break: break-all;
    padding: 15px 15px 15px 60px;
    display: block;
    line-height: 1.3;
    transition: color 0.4s;
    color: #4d4d4d;
    margin-left: 0;
    white-space: pre;
}

#todo-list li.completed label {
    color: #d9d9d9;
    text-decoration: line-through;
}

/* Delete Button */
#todo-list li .destroy {
    display: none;
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    transition: color 0.2s ease-out;
}

#todo-list li .destroy:hover {
    color: #af5b5e;
}

#todo-list li .destroy:after {
    content: '×';
}

#todo-list li:hover .destroy {
    display: block;
}

#todo-list li .edit {
    display: none;
}

#todo-list li.editing:last-child {
    margin-bottom: -1px;
}

/* Footer */
#footer {
    color: #777;
    padding: 10px 15px;
    height: 20px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
    position: relative;
}

#footer:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
                0 8px 0 -3px #f6f6f6,
                0 9px 1px -3px rgba(0, 0, 0, 0.2),
                0 16px 0 -6px #f6f6f6,
                0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

#todo-count {
    float: right;
    text-align: right;
}

#todo-count strong {
    font-weight: 300;
}

/* Filters */
#filters {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 0;
    right: 0;
}

#filters li {
    display: inline;
}

#filters li a {
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

#filters li a:hover {
    border-color: rgba(233, 30, 99, 0.1);
}

#filters li a.selected {
    border-color: rgba(233, 30, 99, 0.2);
}

/* Clear Completed */
#clear-completed {
    float: left;
    position: relative;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
}

#clear-completed:hover {
    text-decoration: underline;
}

/* Info */
#info {
    margin: 65px auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
}

#info p {
    line-height: 1;
}

#info a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
}

#info a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 430px) {
    #footer {
        height: 50px;
    }

    #filters {
        bottom: 10px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #toggle-all,
    #todo-list li .toggle {
        background: none;
    }

    #todo-list li .toggle {
        height: 40px;
    }
}